extends layout

block layout-content
    div.header
        div.title 
            each object of gallery_title
                span.title-persimmon(id=(object.key + "==" + object.value)) #{object.label}
                span /
        div.date-month #{date_month}
        div.date-day #{date_day}
    div.menu
        div.menu-link
            a(href="/") ■ Generate a new exhibit
        div.menu-link ■ Save exhibit into collections
        div.menu-link-persimmon
            a(href="/collections") ■ My collections
        div.menu-link
            a(href="/recent") ■ Recently viewed items
    div.gallery
        div.gallery-modal(id=("info-modal"))
            div.modal-content
                span.close.material-symbols-outlined(id=("close")) close
                div.g-modal-img(id="img")
                div.g-modal-text
                    br
                    p(id="dept")
                    p(id="title")
                    p(id="artist")
                    p(id="artistbio")
                    p(id="movement") 
                    br
                    p(id="medium")
                    p(id="dimensions")
                    br
                    p(id="tag-buttons")
                    br
                    p(id="credit")
                    p(id="repo")

        each object, index in gallery
            div(class=("g-" + (index + 1) + " g-all"))
                div.img-menu
                    div.info(id=(object[0]))
                        span.material-symbols-outlined info
                    div.save
                        span.material-symbols-outlined list
                    div.lock
                        span.material-symbols-outlined lock
                img(class=("g-img") src=("" + object[1]))
    script.
        // When the user clicks a link in the modal, regenerate exhibit
        let reQuery = function() {
            let key = this.className;
            let val = this.id;
            if (key == "title-persimmon") {
                key = this.id.split('==')[0];
                val = this.id.split('==')[1];
            }
            if (key == "btn btn-outline-primary btn-sm tags") {
                key = "tags";
            }
            window.location.href = ('/?flag=1&key=' + encodeURIComponent(key) + '&val=' + encodeURIComponent(val));
        }
        // When the user clicks a link in the title, do newGallery function
        let titleLinks = document.querySelectorAll(".title-persimmon")
        titleLinks.forEach(link => { link.addEventListener('click', reQuery) });
        // modal tutorial from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal
        let buttons = document.getElementsByClassName("info");
        for (let i = 0; i < buttons.length; i++) {
            let button = buttons[i];
            button.onclick = function() {
                let getObjectData = async function (objectID) {
                    let response = await fetch('https://collectionapi.metmuseum.org/public/collection/v1/objects/' + objectID);
                    return response.json();
                }
                getObjectData(this.id).then( response => {
                    console.log("response", response)
                    // dept text
                    document.getElementById('img').innerHTML = "<img src='" + response["primaryImage"] + "'>"
                    if (response["objectName"] != "" || response["department"] != "") {
                        document.getElementById('dept').innerHTML = response["objectName"] + " in the <span class=objDept id='" + response["department"] + "'>" + response["department"] + "</span> department"
                        if (response["objectDate"] != "") {
                            document.getElementById('dept').innerHTML += ", <span class=objDate id='" + response["objectBeginDate"] + "'>" +  response["objectDate"] + "</span>"
                        }
                    }
                    // title text
                    document.getElementById('title').innerHTML = response["title"]
                    // artist text
                    if (response["artistRole"] != "") {
                        document.getElementById('artist').innerHTML = response["artistRole"] + ": "
                        if (response["artistDisplayName"] != "") {
                            document.getElementById('artist').innerHTML += "<span class=artistName id='" + response["artistDisplayName"] + "'>" + response["artistDisplayName"] + "</span>"
                        }
                    }
                    if (response["artistDisplayBio"] != "" || response["artistNationality"] != "") {
                        document.getElementById('artistbio').innerHTML = "<span class=artistBio id='" + response["artistNationality"] + "'>" + response["artistDisplayBio"] + "</span>"
                    }
                    // movement text
                    document.getElementById('movement').innerHTML = ""
                    if (response["culture"] != "") {
                        document.getElementById('movement').innerHTML += "Culture: <span class=culture id='" + response["culture"] + "'>" + response["culture"] + "</span><br>"
                    }
                    if (response["period"] != "") {
                        document.getElementById('movement').innerHTML += "Period: <span class=period id='" + response["period"] + "'>" + response["period"] + "</span><br>"
                    }
                    if (response["dynasty"] != "") {
                        document.getElementById('movement').innerHTML += "Dynasty: <span class=dynasty id='" + response["dynasty"] + "'>" + response["dynasty"] + "</span><br>"
                    }
                    if (response["reign"] != "") {
                        document.getElementById('movement').innerHTML += "Reign: <span class=reign id='" + response["reign"] + "'>" + response["reign"] + "</span><br>"
                    }
                    // misc object information
                    if (response["medium"] != "") {
                        document.getElementById('medium').innerHTML = "Medium: " + response["medium"]
                    }
                    if (response["dimensions"] != "") {
                        document.getElementById('dimensions').innerHTML = "Dimensions: " + response["dimensions"]
                    }
                    // tags
                    if (response["tags"] != null) {
                        document.getElementById('tag-buttons').innerHTML = ""
                        for (tag of response["tags"]) {
                            document.getElementById('tag-buttons').innerHTML += "<button type='button' class='btn btn-outline-primary btn-sm tags' id=" + tag["term"] + ">" + tag["term"] + "</button> "
                        }
                    }
                    // repository information
                    if (response["creditLine"] != "") {
                        document.getElementById('credit').innerHTML = response["creditLine"]
                    }
                    if (response["repository"] != "") {
                        document.getElementById('repo').innerHTML = response["repository"]
                        if (response["objectURL"] != "") {
                            document.getElementById('repo').innerHTML += "<br><br>Full object info <a href='" + response["objectURL"] + "' target='_blank'>here</a>"
                        }
                    }
                    // When the user clicks a link in the modal, do newGallery function
                    let allLinks = document.querySelectorAll("span.objDept, span.objDate, span.artistName, span.artistBio, span.culture, span.period, span.dynasty, span.reign, button.tags")
                    allLinks.forEach(link => { link.addEventListener('click', reQuery) });
                })
                info_modal.style.display = "block";
            }
        }
        let info_modal = document.getElementById("info-modal");
        let close = document.getElementById("close");
        // When the user clicks on <span> (x), close the modal
        close.onclick = function() {
            info_modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(e) {
            if (e.target == info_modal) {
                info_modal.style.display = "none";
            }
        }